/**
 * Remove default options added by the browser
 */
body {
    margin: 0;
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

a:active,
a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

button,
input,
select{
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  -webkit-appearance: button;
  cursor: pointer;
}

input {
  line-height: normal;
}